.calories-container {
  position: relative;
  width: 100%;
  height: 40vh;

  &:focus {
    outline: none;
  }
}

.calories-chart-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.chartjs-render-monitor {
  position: relative;
  z-index: 1;
}
