.signup-form {
  width: 100%;

  input[type=text],
  input[type=email],
  input[type=password] {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border: 1px solid #000;
    font-size: 1.25rem;
    margin-block-end: 1rem;

    @media (min-width: $tablet) and (max-width: $desktop) {
      font-size: 2.5rem;
      height: 6rem;
      padding: 2rem;
      margin-block-end: 2rem;
    }
  }

  input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem 0 0;
    outline: 1px solid #000;
    outline-offset: -1px;

    @media (min-width: $tablet) and (max-width: $desktop) {
      width: 2rem;
      height: 2rem;
      margin: 0 1rem 0 0;
    }
  }

  label {
    font-size: 1rem;

    @media (min-width: $tablet) and (max-width: $desktop) {
      font-size: 2rem;
    }
  }
}

.signup-message {
  margin-block-end: 1rem;
  color: red;
  font-size: 1rem;

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-block-end: 2rem;
    font-size: 2rem;
  }
}

.form-options-section {
  display: flex;
  flex-flow: row nowrap;
}

.form-submit-section {
  width: 50%;
}

.remember-me-section {
  height: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet) and (max-width: $desktop) {
    height: 4rem;
  }
}

.signup-button {
  height: 3rem;
  width: 100%;
  border: 1px solid black;
  font-size: 1.5rem;
  color: white;
  background-color: green;
  cursor: pointer;

  @media (min-width: $tablet) and (max-width: $desktop) {
    height: 6rem;
    font-size: 3rem;
  }
}

.other-option-section {
  width: 50%;
  padding-inline-start: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  font-size: 1rem;
  text-align: center;

  @media (min-width: $tablet) and (max-width: $desktop) {
    font-size: 2rem;
  }
}

.login-option {
  border: none;
  padding: 0;
  background-color: #fff;
  font-size: 1.5rem;
  color: #00ee;
  cursor: pointer;

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-block-start: 1rem;
    font-size: 3rem;
  }

  &:active {
    outline: 1px solid green;
  }
}
