.edit-eaten-food-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vw;
  height: 70vw;
  padding-inline-start: $m-distance;
  padding-inline-end: $input-height;
  border: 1px solid black;
  border-radius: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  opacity: 1;
  outline: none;
  transform: translate(-50%, -50%);

  &-close-button {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: $input-height;
    height: $input-height;
    background-color: #fff;
    border: none;

    &:focus {
      outline: 1px solid green;
    }
  }

  &-title {
    margin-block-end: $sm-distance;
    font-size: $sm-text;
    font-weight: 700;
    text-align: center;
  }

  &-subtitle {
    font-size: $sm-text;
    font-weight: 400;
    text-align: center;
  }

  &-info {
    display: flex;
    flex-flow: row wrap;

    p {
      width: 50%;
      margin-block-end: $sm-distance;
      font-size: $sm-text;
      text-align: center;
    }
  }

  &-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &-weight-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-weight-legend {
    margin-block-end: $sm-distance;
    font-size: $sm-text;
    text-align: center;
  }

  &-weight-input {
    width: 5rem;
    height: $input-height;
    margin-inline-start: $sm-distance;
    margin-inline-end: $sm-distance;

    &:focus {
      outline: 1px solid green;
    }
  }

  &-weight-inc-button,
  &-weight-dec-button, {
    width: $input-height;
    height: $input-height;
    padding: 0;
    border: 1px solid black;
    background-color: #fff;
    cursor: pointer;

    &:focus {
      outline: 1px solid green;
    }
  }

  &-options-container {
    height: $input-height;
    display: flex;
    align-items: center;
  }

  &-submit-button {
    height: $xl-distance;
    width: calc(5rem + #{$sm-distance * 2} + #{$input-height});
    border: 1px solid black;
    font-size: $m-text;
    color: white;
    background-color: green;
    cursor: pointer;
  }

  &-delete-button {
    width: $input-height;
    height: $input-height;
    padding: 0;
    border: none;
    background-color: #fff;
    cursor: pointer;

    &-icon {
      width: 50% !important;
      height: 50% !important;
    }

    &:focus {
      outline: 1px solid green;
    }
  }
}
