.entry-page {
  padding: 3rem 3rem 0 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 6rem 6rem 0 6rem;
  }
}

.app-description {
  font-size: 1.5rem;
  margin-block-end: 2rem;

  em {
    font-weight: 700;
  }

  @media (min-width: $tablet) {
    font-size: 3rem;
  }

  @media (min-width: $desktop) {
    font-size: 2.2rem;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}
