.app-description {
  font-size: $m-text * 1.2;
  margin-block-end: $m-distance;

  em {
    font-weight: 700;
  }

  // @media (min-width: $tablet) {
  //   font-size: 3rem;
  // }

  // @media (min-width: $desktop) {
  //   font-size: 1.6rem;
  // }
}

.form-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}
