* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  // min-height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
