* {
  box-sizing: border-box;
}

html,
body,
#root {
  --minFontSize: 12px;
  --maxFontSize: 24px;
  --scaler: 0.835vmax;

  height: calc(var(--vh, 1vh) * 100);
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));

  @media (orientation: landscape) and (max-width: $desktop) {
    height: 100vw;
  }
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #fff;
  margin: 0 auto;

  @media (min-width: $desktop) {
    width: calc(100vw / 3);
    border-inline-start: 1px solid black;
    border-inline-end: 1px solid black;
  }
}

.page {
  height: calc(var(--vh, 1vh) * 85);
  min-height: calc(var(--vh, 1vh) * 85);
  padding: 3rem 3rem 0 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 6rem 6rem 0 6rem;
  }
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
  margin-block-end: 1rem;
  align-self: flex-start;
}
