* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-display: fallback;
  background-color: #fff;
  color: #000;
}
