// Colors
$color1: #fff;
$color2: #fff;
$color3: #fff;
$color4: #fff;
$color5: #fff;
$color6: #fff;

// Breakpoints
// Asi:
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
// My:
$mobile: 461px;
$tablet: 721px;
$desktop: 961px;
