.add-eaten-food {
  &-cards {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-search {
    width: 100%;
    height: $input-height;
    border: 1px solid black;
    border-radius: 0;
    padding: $sm-distance;
    font-size: $sm-text;
  
    &:focus {
      outline: 1px solid green;
    }
  }
}

.options-container {
  width: 100%;
  margin-block-end: $sm-distance;
}
